#pricing-block-5 {
    height: 300px;
    padding-top: 55px;
  }

  @media (min-width: 992px) {
    #pricing-block-5 {
      height: 600px;
      padding-top: 80px;
    }
  }
  .background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hwb(128 2% 15%) 15%,
        hsl(128, 94%, 30%) 35%,
        hwb(127 1% 64%) 75%,
        hsl(128, 95%, 16%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(128, 95%, 40%) 15%,
        hsl(128, 93%, 24%) 35%,
        hsl(129, 93%, 16%) 75%,
        hsl(128, 98%, 16%) 80%,
        transparent 100%);
  }